{% extends 'base.html' %}
{% block title %}Todos{% endblock title %}
{% block content %}
{% include "todo/includes/navbar.html" %}
<div class="row">
    <div class="col-12">
        <h1>{{todo.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul>
            {{todo.description}}
        </ul>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <a href="{% url 'todo-update' todo.pk %}" ><button class="btn btn-primary">Update</button></a>
        <a href="{% url 'todo-delete' todo.pk %}" ><button class="btn btn-danger">Delete</button></a>
    </div>
</div>

{% endblock content %}